[submodule "fivem"]
	path = fivem
	url = https://github.com/StarGate01/fivem
[submodule "botan/botan"]
	path = botan/botan
	url = https://github.com/randombit/botan
[submodule "ffmpeg/ffmpeg"]
	path = ffmpeg/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
